// Created by briansmith on 31/01/16
.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .navbar-inner
        .container
            .header
                a.navbar-brand(href='/') eSeismic
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown') Actions
                            b.caret
                        ul.dropdown-menu
                            li
                                //a(href='/lineChart') Line Chart
                            li
                                //a(href='/zoomChart') Zoom Chart
                            li
                                //a(href='/bulletChart') Bubble Chart
                            li
                                //a(href='/ganttChart') Gantt Chart
                            li
                                //a(href='/gis') GIS Display
                            li
                                //a(href='/dashboardChart') Sample Dashboard
                            li
                                //a(href='/movingLineChart') Moving Line Chart
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact
                    li
                        a(href='/logout') Logout
