<!DOCTYPE html>
<html lang="en">
{{>head}}
<body class="index_body">
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            {{{ body }}}
        </div>
    </div>
</div>
</body>
</html>
