// Created by briansmith on 12/03/2016.
doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/custom-bootstrap.css')

        // This MUST be placed in the header
        script(type='text/javascript', src='../bower_components/jquery/dist/jquery.min.js')

        title Golf Test Routines

    body.index_body
        header
            include partials/header.jade
        main
            .container
            .row
                .col-sm-8.col-sm-offset-2
                    .row
                        .col-sm-12
                            h3 About Page

    footer
        include partials/footer.jade

