<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../bower_components/OpenLayers3/css/ol.css" type="text/css">

        <script type="text/javascript" src="../bower_components/OpenLayers3/build/ol.js"></script>

        <title><%= title %></title>
    </head>
    <body>
        <div id="map" class="map"></div>
    </body>
    <script type="text/javascript" src="../javascripts/golfCourseMap.js"></script>
</html>