doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='icon', href='../images/Golf_Pin.ico')

        link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/custom-bootstrap.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/popup.css')

        // These MUST be placed in the header
        script(type='text/javascript', src='../bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='../bower_components/bootstrap/dist/js/bootstrap.min.js')

    title Google Map

        style.
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                height: 100%;
            }
    body.index_body
        header
            include partials/header.jade

        main
            .container-fluid
                .row-fluid
                p
                    span.label.label-default EPSG:4326 Long & Lat :
                    span#mouse4326.label.label-info
                    .span12
                        #map.map
                        script.
                            var map;
                            function initMap() {
                                var mapOptions = {
                                    mapTypeId: google.maps.MapTypeId.SATELLITE,
                                    center: {lat: 54.624251, lng: -5.682930},
                                    zoom: 18, // 21
                                    minZoom: 6,
                                    zoomControl: true, //false
                                    zoomControlOptions: {
                                        style: google.maps.ZoomControlStyle.SMALL
                                    },
                                    panControl: false,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    overviewMapControl: false,
                                    rotateControl: false,
                                    disableDefaultUI: true,
                                    keyboardShortcuts: false,
                                    draggable: true, // false
                                    disableDoubleClickZoom: true,
                                    scrollwheel: false,
                                    streetViewControl: false
                                };
                                map = new google.maps.Map(document.getElementById('map'), mapOptions);

                                map.data.loadGeoJson('/testData/geoJsonFiles/roundOfGolfData.json');
                            }
        footer
            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBaIVeD83DDFyptO3K--V6YlhvfouDiqOI&callback=initMap', async='', defer='')
