doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='icon', href='../images/Golf_Pin.ico')

        link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/custom-bootstrap.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/popup.css')

        // These MUST be placed in the header
        script(type='text/javascript', src='../bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='../bower_components/bootstrap/dist/js/bootstrap.min.js')

    title Google Map

    body.index_body
        header
            include partials/header.jade

        main
            .container-fluid
                .row-fluid
                p
                    span.label.label-default EPSG:4326 Long & Lat :
                    span#mouse4326.label.label-info
                    .span12
                        #map.map
                        script.
                            var map;
                            function init() {
                                var mapOptions = {
                                    mapTypeId: google.maps.MapTypeId.SATELLITE,
                                    center: {lat: 54.624251, lng: -5.682930},
                                    zoom: 18, // 21
                                    //minZoom: 6,
                                    zoomControl: true, //false
                                    zoomControlOptions: {
                                        style: google.maps.ZoomControlStyle.SMALL
                                    },
                                    panControl: false,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    overviewMapControl: false,
                                    rotateControl: false,
                                    disableDefaultUI: true,
                                    keyboardShortcuts: false,
                                    draggable: true, // false
                                    disableDoubleClickZoom: true,
                                    scrollwheel: false,
                                    streetViewControl: false
                                };

                                map = new google.maps.Map(document.getElementById('map'), mapOptions);

                                var p1 = new google.maps.LatLng(54.625605, -5.683992);
                                var p2 = new google.maps.LatLng(54.623937, -5.683818);

                                var markerP1 = new google.maps.Marker({
                                    position: p1,
                                    map: map,
                                icon: {
                                    url:"https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle.png",
                                    size: new google.maps.Size(7,7),
                                    anchor: new google.maps.Point(4,4)
                                }
                                });

                                var markerP2 = new google.maps.Marker({
                                    position: p2,
                                    map: map,
                                    icon: {
                                        url:"https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle.png",
                                        size: new google.maps.Size(7,7),
                                        anchor: new google.maps.Point(4,4)
                                    }
                                });
                            }

                            google.maps.event.addListener(map, 'projection_changed', function () {
                                var p1 = map.getProjection().fromLatLngToPoint(markerP1.getPosition());
                                var p2 = map.getProjection().fromLatLngToPoint(markerP2.getPosition());
                                var e = new google.maps.Point(p1.x - p2.x, p1.y - p2.y);
                                var m = new google.maps.Point(e.x / 2, e.y / 2);
                                var o = new google.maps.Point(0, 7);
                                var c = new google.maps.Point(m.x + o.x, m.y + o.y);
                                var curveMarker2 = new google.maps.Marker({
                                    position: markerP1.getPosition(),
                                    icon: {
                                        path: "M 0 0 q " + c.x + " " + c.y + " " + e.x + " " + e.y,
                                        scale: 24,
                                        strokeWeight: 2,
                                        fillColor: '#009933',
                                        fillOpacity: 0,
                                        rotation: 180,
                                        anchor: new google.maps.Point(0, 0)
                                    }
                                });
                                curveMarker2.setMap(map);

                                google.maps.event.addListener(map, 'zoom_changed', function () {
                                    var zoom = map.getZoom();
                                    var scale = 1 / (Math.pow(2, -zoom));
                                    var icon = {
                                        path: "M 0 0 q " + c.x + " " + c.y + " " + e.x + " " + e.y,
                                        scale: scale,
                                        strokeWeight: 2,
                                        fillColor: '#009933',
                                        fillOpacity: 0,
                                        rotation: 180,
                                        anchor: new google.maps.Point(0, 0)
                                    };
                                    curveMarker2.setIcon(icon);
                                });
                            });
                            //map.data.loadGeoJson('/testData/geoJsonFiles/roundOfGolfData.json');

        footer
            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBaIVeD83DDFyptO3K--V6YlhvfouDiqOI&callback=init', async='', defer='')
