doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='icon', href='../images/Golf_Pin.ico')

        link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/custom-bootstrap.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/popup.css')

        // These MUST be placed in the header
        script(type='text/javascript', src='../bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='../bower_components/bootstrap/dist/js/bootstrap.min.js')

    title Google Map

    body.index_body
        header
            include partials/header.jade

        main
            .container-fluid
                .row-fluid
                p
                    span.label.label-default EPSG:4326 Long & Lat :
                    span#mouse4326.label.label-info
                    .span12
                        #map-canvas.map
                        script.
                            var map;

                            var curvature = 0.3;

                            function init() {
                                var Map = google.maps.Map,
                                    LatLng = google.maps.LatLng,
                                    LatLngBounds = google.maps.LatLngBounds,
                                    Marker = google.maps.Marker,
                                    Point = google.maps.Point;

                                var pos1 = new LatLng(54.625605, -5.683992);
                                var pos2 = new LatLng(54.623937, -5.683818);

                                var bounds = new LatLngBounds;
                                bounds.extend(pos1);
                                bounds.extend(pos2);

                                var mapOptions = {
                                    //mapTypeId: google.maps.MapTypeId.SATELLITE,
                                    center: bounds.getCenter(),
                                    zoom: 18, // 21
                                    //minZoom: 6,
                                    zoomControl: true, //false
                                    zoomControlOptions: {
                                        style: google.maps.ZoomControlStyle.SMALL
                                    },
                                    panControl: false,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    overviewMapControl: false,
                                    rotateControl: false,
                                    disableDefaultUI: true,
                                    keyboardShortcuts: false,
                                    draggable: true, // false
                                    disableDoubleClickZoom: true,
                                    scrollwheel: false,
                                    streetViewControl: false
                                };

                                map = new Map(document.getElementById('map-canvas'), mapOptions);

                                map.fitBounds(bounds);

                                var markerP1 = new Marker({
                                    position: pos1,
                                    map: map
                                    //icon: {
                                    //    url: "https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle.png",
                                    //    size: new google.maps.Size(7, 7),
                                    //    anchor: new google.maps.Point(4, 4)
                                    //}
                                });

                                var markerP2 = new Marker({
                                    position: pos2,
                                    map: map
                                    //icon: {
                                    //    url: "https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle.png",
                                    //    size: new google.maps.Size(7, 7),
                                    //    anchor: new google.maps.Point(4, 4)
                                    //}
                                });

                                var curveMarker;

                                function updateCurveMarker(){
                                    var pos1 = markerP1.getPosition(),
                                        pos2 = markerP2.getPosition(),
                                        projection = map.getProjection(),
                                        p1 = projection.fromLatLngToPoint(pos1),
                                        p2 = projection.fromLatLngToPoint(pos2);

                                    var e = new Point(p2.x - p1.x, p2.y - p1.y),
                                        m = new Point(e.x / 2, e.y / 2),
                                        o = new Point(e.y, -e.x),
                                        c = new Point(
                                            m.x + curvature * o.x,
                                            m.y + curvature * o.y);

                                    var pathDef = 'M 0 0 q ' + c.x + ', ' + c.y + ' ' + e.x + ', ' + e.y;

                                    var zoom = map.getZoom(),
                                        scale = 1 / (Math.pow(2, -zoom));

                                    var symbol = {
                                        path: pathDef,
                                        scale: scale,
                                        strokeWeight: 4,
                                        fillColor: 'none'
                                    };

                                    if (!curveMarker){
                                        curveMarker = new Marker({
                                            position: pos1,
                                            clickable: false,
                                            icon: symbol,
                                            zIndex: 0,
                                            map: map
                                        });
                                    } else {
                                        curveMarker: setOptions({
                                            position: pos1,
                                            icon: symbol
                                        });
                                    }
                                }

                                google.maps.event.addListener(map, 'projection_changed', updateCurveMarker);
                                google.maps.event.addListener(map, 'zoom_changed', updateCurveMarker);

                                google.maps.event.addListener(markerP1, 'position_changed', updateCurveMarker);
                                google.maps.event.addListener(markerP2, 'position_changed', updateCurveMarker);
                            }

                            google.maps.event.addDomListener(window, 'load', updateCurveMarker);

        footer
            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBaIVeD83DDFyptO3K--V6YlhvfouDiqOI&callback=init', async='', defer='')
