// Created by briansmith on 10/03/2016.
extends layout

block content
    header
        include partials/header.jade
    main
        .container
            .col-sm-8.col-sm-offset-2
                if user
                    h3 Welcome, #{user.fullName}
                    p
                        a.btn.btn-primary(href="/account/logout") Logout
                        span &nbsp;
                        a.btn.btn-primary(href="/mainPage") Main Index Page
                    p
                        //a.small(href="/profile") Edit my profile
                else
                    h3 Welcome to my app, ready to get started?
                    p
                        a.btn.btn-primary(href="/account/login") Login now
                    p
                        span.small Don't have an account?
                        span &nbsp;
                        a.small(href="/account/register") Register now

    footer

