<!-- Created by briansmith on 17/04/2017-->
<header>
    <a href="/" class="navbar-brand">eSeismic</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Actions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <!--a(href='/lineChart') Line Chart-->
                </li>
                <li>
                    <!--a(href='/zoomChart') Zoom Chart-->
                </li>
                <li>
                    <!--a(href='/bulletChart') Bubble Chart-->
                </li>
                <li>
                    <!--a(href='/ganttChart') Gantt Chart-->
                </li>
                <li>
                    <!--a(href='/gis') GIS Display-->
                </li>
                <li>
                    <!--a(href='/dashboardChart') Sample Dashboard-->
                </li>
                <li>
                    <!--a(href='/movingLineChart') Moving Line Chart-->
                </li>
            </ul>
        </li>
        <li>
            <a href='/about'>About</a>
        </li>
        <li>
            <a href='/contact'>Contact</a>
        </li>
        <li>
            <a href='/account/logout'>Logout</a>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
<!-- Missing if statement here -->
<!--                       <p>
                <a href="/account/logout" class="btn btn-primary">Logout</a>
                <span>&nbsp;</span>
                <a href="/mainPage" class="btn btn-primary">Main Index Page</a>
            </p>
            <p>
                &lt;!&ndash;a.small(href="/profile") Edit my profile&ndash;&gt;
            </p>
-->
            <h3>Welcome to my app, ready to get started?</h3>
            <p>
                <a href="/account/login" class="btn btn-primary">Login now</a>
            </p>
            <p>
                <span class="small">Don't have an account?</span>
                <span></span>
                <a href="/account/register" class="small">Register now</a>
            </p>
        </div>
    </div>
</main>
<footer>

</footer>
