// Created by briansmith on 01/04/2016.
doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/custom-bootstrap.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/popup.css')
        link(rel='stylesheet', type='text/css', href='../bower_components/OpenLayers3/css/ol.css')

        // These MUST be placed in the header
        script(type='text/javascript', src='../bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='../bower_components/OpenLayers3/build/ol.js')
        script(type='text/javascript', src='../bower_components/bootstrap/dist/js/bootstrap.min.js')

    title Golf Test Routines

    body.index_body
        block content
