// Created by briansmith on 21/02/2016.
extends layout

block content
    header
        include partials/header.jade
    main
        .container
        .row
            .col-sm-8.col-sm-offset-2
                .row
                    .col-sm-8
                        h3 Login Page
                        form(method="post", action="/account/login")
                            if message && message.length
                                .alert.alert-danger= message
                            input(type="hidden", name="_csrf", value="#{token}")
                            .form-group
                                label(for='username') Username
                                input#username.form-control(type='text', placeholder='username', name='username')
                            .form-group
                                label(for='password') Password
                                input#password.form-control(type='password', placeholder='password', name='password')
                            button.btn.btn-primary.btn-block(type="submit") Login
                            .row.top-margin
                    .col-sm-6
                        a.btn.btn-block.btn-social.facebook(href='/auth/facebook', role='button')
                            i.fa.fa-facebook
                            |   Sign in with Facebook
                    .col-sm-6
                        a.btn.btn-block.btn-social.google(href='/auth/google', role='button')
                            i.fa.fa-google
                            |   Sign in with Google

    footer
