// Created by briansmith on 30/01/16
extends layout

block content
    header
        include partials/header.jade

    main
        .container
            .row
                .col-md-3
                    h4 Nearby Golf Courses OL3
                    a(href='/nearbyGolfCoursesOL3')
                        img.img-rounded(src='../images/NearbyClubs.jpg')
                .col-md-3
                    h4 Round of Golf OL3
                    a(href='/roundOfGolfOL3')
                        img.img-rounded(src='../images/GolfBalls.jpg')
                .col-md-3
                    h4 Google Maps Round
                    a(href='/roundOfGolfGoogle')
                        img.img-rounded(src='../images/40_112.jpg')
                .col-md-3
                    h4 Members Relationship Manager
                    a(href='/members')
                        img.img-rounded(src='../images/GisChart.jpg')
            // row
            .row
                .col-md-3
                    h4 Find all my Rounds
                    a(href='/golf/findMyRounds')
                        img.img-rounded(src='../images/GisChart.jpg')
                .col-md-3
                    h4 Find a Round
                    a(href='/golf/findMyRoundById')
                        img.img-rounded(src='../images/GisChart.jpg')
                .col-md-3
                    h4 Add my Round
                    a(href='/golf/addMyRound')
                        img.img-rounded(src='../images/40_89.jpg')
                .col-md-3
                    h4 Delete my Round
                    a(href='/golf/deleteMyRound')
                        img.img-rounded(src='../images/40_89.jpg')
            // row
        // container

    footer
