// Created by briansmith on 30/01/16
doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='icon', href='../images/Golf_Pin.ico')

        link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/custom-bootstrap.css')

        // This MUST be placed in the header
        script(type='text/javascript', src='../bower_components/jquery/dist/jquery.min.js')

        title Golf Test Routines

    body.index_body
        header
            include partials/header.jade

        main
            .container
                .row
                    .col-md-3
                        h3 Nearby Golf Courses
                        a(href='/nearbyGolfCourses')
                            img.img-rounded(src='../images/GisChart.jpg')
                    .col-md-3
                        h3 Round of Golf
                        a(href='/roundOfGolf')
                            img.img-rounded(src='../images/GolfBalls.jpg')
                 // row
            // container

        footer
            include partials/footer.jade
