<!-- Created by briansmith on 16/04/2017-->
<header>
    <a href="/" class="navbar-brand">eSeismic</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Actions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <!--a(href='/lineChart') Line Chart-->
                </li>
                <li>
                    <!--a(href='/zoomChart') Zoom Chart-->
                </li>
                <li>
                    <!--a(href='/bulletChart') Bubble Chart-->
                </li>
                <li>
                    <!--a(href='/ganttChart') Gantt Chart-->
                </li>
                <li>
                    <!--a(href='/gis') GIS Display-->
                </li>
                <li>
                    <!--a(href='/dashboardChart') Sample Dashboard-->
                </li>
                <li>
                    <!--a(href='/movingLineChart') Moving Line Chart-->
                </li>
            </ul>
        </li>
        <li>
            <a href='/about'>About</a>
        </li>
        <li>
            <a href='/contact'>Contact</a>
        </li>
        <li>
            <a href='/account/logout'>Logout</a>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Nearby Golf Courses</h4><a href="/nearbyGolfCourses"><img src="../images/NearbyClubs.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Course Scorecards</h4><a href="/courseScorecards"><img src="../images/40_89.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Rounds of Golf</h4><a href="/roundsOfGolf"><img src="../images/40_112.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Find All my Rounds</h4><a href="/findAllMyRounds"><img src="../images/GisChart.jpg" class="img-rounded"/></a>
            </div>
        </div><!-- row-->

        <div class="row">
            <div class="col-md-3">
                <h4>Find a Round</h4><a href="/findMyRoundById"><img src="../images/GisChart.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Add my Round</h4><a href="/addMyRound"><img src="../images/40_89.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Delete my Round</h4><a href="/deleteMyRound"><img src="../images/40_89.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Members Relationship Manager</h4><a href="/membershipRelationshipManager"><img src="../images/GisChart.jpg" class="img-rounded"/></a>
            </div>
        </div><!-- row-->

        <div class="row">
            <div class="col-md-3">
                <h4>Read Competitions</h4><a href="/readCompetitions"><img src="../images/GisChart.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Read GC Competitions</h4><a href="/readGCCompetitions"><img src="../images/GisChart.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Add GC Competitions</h4><a href="/addGCCompetitions"><img src="../images/GisChart.jpg" class="img-rounded"/></a>
            </div>
            <div class="col-md-3">
                <h4>Cinema Test Firebase</h4><a href="/cinemaTest"><img src="../images/GisChart.jpg" class="img-rounded"/></a>
            </div>
        </div><!-- row-->
    </div><!-- container-->
</main>
<footer>

</footer>
