// Created by briansmith on 30/01/16
extends layout

block content
    header
        include partials/header.jade

    main
        .container
            .row
                .col-md-3
                    h4 Nearby Golf Courses
                    a(href='/nearbyGolfCourses')
                        img.img-rounded(src='../images/NearbyClubs.jpg')
                .col-md-3
                    h4 Rounds of Golf
                    a(href='/roundsOfGolf')
                        img.img-rounded(src='../images/40_112.jpg')
                .col-md-3
                    h4 Members Relationship Manager
                    a(href='/members')
                        img.img-rounded(src='../images/GisChart.jpg')
                .col-md-3
                    h4 Course Scorecards
                    a(href='/courseScorecards')
                        img.img-rounded(src='../images/40_89.jpg')
            // row
            .row
                .col-md-3
                    h4 Find all my Rounds
                    a(href='/findMyRounds')
                        img.img-rounded(src='../images/GisChart.jpg')
                .col-md-3
                    h4 Find a Round
                    a(href='/findMyRoundById')
                        img.img-rounded(src='../images/GisChart.jpg')
                .col-md-3
                    h4 Add my Round
                    a(href='/addMyRound')
                        img.img-rounded(src='../images/40_89.jpg')
                .col-md-3
                    h4 Delete my Round
                    a(href='/deleteMyRound')
                        img.img-rounded(src='../images/40_89.jpg')
            // row
            .row
                .col-md-3
                    h4 Read Competitions
                    a(href='/readCompetitions')
                        img.img-rounded(src='../images/GisChart.jpg')
            // row
        // container

    footer
