// Created by briansmith on 30/01/16
extends layout

block content
    header
        include partials/header.jade

    main
        .container
            .row
                .col-md-3
                    h4 Nearby Golf Courses
                    a(href='/nearbyGolfCourses')
                        img.img-rounded(src='../images/NearbyClubs.jpg')
                .col-md-3
                    h4 Round of Golf
                    a(href='/roundOfGolf')
                        img.img-rounded(src='../images/GolfBalls.jpg')
                .col-md-3
                    h4 Google Maps Round
                    a(href='/roundOfGolfGoogle')
                        img.img-rounded(src='../images/40_112.jpg')
                .col-md-3
                    h4 Members Relationship Manager
                    a(href='/members')
                        img.img-rounded(src='../images/GisChart.jpg')
            // row
            .row
                .col-md-3
                    h4 Find all my Rounds from Mongodb
                    a(href='/golf/findMyRounds')
                        img.img-rounded(src='../images/GisChart.jpg')
                .col-md-3
                    h4 Find a Round from Mongodb
                    a(href='/golf/findMyRoundById')
                        img.img-rounded(src='../images/GisChart.jpg')
                .col-md-3
                    h4 Add my Round to Mongodb
                    a(href='/golf/addMyRound')
                        img.img-rounded(src='../images/40_89.jpg')
                .col-md-3
                    h4 Delete my Round to Mongodb
                    a(href='/golf/deleteMyRound')
                        img.img-rounded(src='../images/40_89.jpg')
            // row
        // container

    footer
