// Created by briansmith on 30/01/16
extends layout

block content
    header
        include partials/header.jade

    main
        .container-fluid
            .row-fluid
            p
                span#mouse4326.label.label-info
                .span12
                    #map.map
                    #popup.ol-popup
                        a#popup-closer.ol-popup-closer(href='#')
                        #popup-content

    footer
        script(type='text/javascript', src='../javascripts/nearbyGolfCourses.js')

