// Created by briansmith on 30/01/16
extends layout

block content
    header
        include partials/header.jade

    main
        .container-fluid
            .row-fluid
            p
                span#mouse4326.label.label-info
                button(onclick='hideMarkers()') Hide Markers
                button(onclick='showMarkers()') Show Markers
                .span12
                    #map.map
                    //#popup.ol-popup
                        a#popup-closer.ol-popup-closer(href='#')
                        #popup-content

    footer
        script(type='text/javascript', src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='../bower_components/OpenLayers3/build/ol.js')
        script(type='text/javascript', src='../javascripts/nearbyGolfCoursesOL3.js')
        script(type='text/javascript', src='../bower_components/socket.io.js')

