// Created by briansmith on 28/03/2017.
extends layout

block content
    header
        include partials/header.jade
    main
        .container
        .row
            .col-sm-8.col-sm-offset-2
                .row
                    .col-sm-12
                        h3= title

                        ul
                            each user in users
                                li #{user.summary} #{user.description}
                                    p(style="margin-left:5px")=user.Phone

    footer

