// Created by briansmith on 12/03/2016.
extends layout

block content
    header
        include partials/header.jade
    main
        .container
        .row
            .col-sm-8.col-sm-offset-2
                .row
                    .col-sm-12
                        h3 Login Page
                        form(method="post", action="/account/registerProcess")
                            if message && message.length
                                .alert.alert-danger= message
                            input(type="hidden", name="_csrf", value="#{token}")
                            .form-group
                                label(for='username') Username
                                input#username.form-control(type='text', placeholder='username', name='username')
                            .form-group
                                label(for='password') Password
                                input#password.form-control(type='password', placeholder='password', name='password')
                            button.btn.btn-primary.btn-block(type="submit") Register
                            .row.top-margin

    footer

